NODE_ENV=development
PORT=4000

# PostgreSQL (Neon)
DATABASE_URL="postgresql://neondb_owner:npg_dUiCtPbX5N6l@ep-steep-boat-ayaas4kw-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT
JWT_ACCESS_SECRET="secret fort"
JWT_REFRESH_SECRET="autre secret fort"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_DAYS=30

# CORS
CORS_ORIGIN="http://localhost:5173"
